body
{
    background-color:darkseagreen;
}

h1
{
    background-color: rgb(221, 165, 188);
    text-decoration: green wavy underline;
    text-decoration: underline overline #cd89de;
    text-emphasis-position: over right;
    
}
img
{
    width: 50%
   
}

#imageGallery
{
    display: grid;
    grid-area: 30% 50% 30%
        
}

p {
    font-family: serif;
  }